@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: "insert it´s here your contact"</strong><a href="https://insertHereYourSite.com.br">nameOfSite.com.br</a>
</address>